/* .fixed-top{
    transition: background-color 0.4s ease;
}

.fixed-top.scrolled { */
    /* background-color: rgba(254, 254, 254, 0.63); /*pour fond semi-trasparant*/
    /* box-shadow: 0 4px 8px rgba(70, 68, 68, 0.479);
}  */ */

/* .how-it-works{
    padding: 80px 0;
    background: #f9fafb;
}
.section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: bold;
}
/* POUR LES GRIDS */
/* .bento-grid{
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-auto-rows: 180px;
    gap: 20px;
} */
/* POUR LES CARTES */
/* .card{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */ 